/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";

#movie_title:focus {
  border-bottom: 1px solid #1976d2;
  box-shadow: 0 1px 0 0 #1976d2;
}

#movie_summary:focus {
  border-bottom: 1px solid #1976d2;
  box-shadow: 0 1px 0 0 #1976d2;
}

#movie_genre:focus {
  border-bottom: 1px solid #1976d2;
  box-shadow: 0 1px 0 0 #1976d2;
}

#movie_year:focus {
  border-bottom: 1px solid #1976d2;
  box-shadow: 0 1px 0 0 #1976d2;
}

#movie_link:focus {
  border-bottom: 1px solid #1976d2;
  box-shadow: 0 1px 0 0 #1976d2;
}

label {
  color: #1976d2;
}
